* {
  /*color: #0a4e8a;*/
  color: white;
}

.logotype {
  width: 55%;
  text-align: center;
  margin: 5px 0 5px 10px;
}

p,
a {
  position: relative;
}

p {
  top: 25%;
}

a {
  top: 14%;
}

a:hover {
  text-decoration: underline;
}

.faq {
  margin-top: 10px;
}

.delivery {
  position: relative;
  top: 32%;
  font-weight: bold;
  font-size: x-large;
}
.custom-bg {
  background-color: #398adb;
}
