* {
  color: beige;
}
.custom-bg {
  background-color: #398adb;
}
.color-letra {
  color: #398adb;
}
// .ml {
//   margin-left: 800px;
// }

.boton {
  color: #fff;
  font-size: 25px;
}

.link {
  color: #398adb;
}

.link:hover {
  color: #db8a39;
}
