<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <form [formGroup]="miFormulario">
          <h1>Restablecer contraseña</h1>
          <hr />
          <label for="email"><b>Correo electrónico</b></label>
          <input
            type="email"
            placeholder="Introduzca su correo electrónico"
            class="form-control"
            formControlName="email"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('email')">
            <div>
              {{ emailErrorMsg }}
            </div>
       
          </div>
    
          <div class="row">
            <div class="col-lg">
              <button type="submit" class="signup-btn"  [disabled]="miFormulario.invalid">Restablecer contraseña</button>
            </div>
          </div>
          <div class="more-options">
        
            <p class="psw">
              ¿No tienes cuenta? <a [routerLink]="['/register']">Ingresa aqui para registarte</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-lg"></div>
    </div>
  </div>