<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <form>
          <h1>Iniciar sesión</h1>
          <hr />
          <label for="email"><b>Correo electrónico</b></label>
          <input
            type="email"
            placeholder="Introduzca la correo electrónico"
            name="email"
            class="form-control"
            required
          />
          <div class="alert alert-danger" >
            <div >
              Introduzca un correo electrónico válido por favor
            </div>
            <div>
              El correo electrónico no sigue el formato correcto. Sigue este ejemplo: anartz@mugika.com
            </div>
          </div>

          <label for="psw"><b>Contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            name="password"
            class="form-control"
            required
          />
          <div class="alert alert-danger">
            <div >
              Introduzca una contraseña por favor
            </div>
          </div>

          <div class="row">
            <div class="col-lg">
              <button type="submit" class="signup-btn">Iniciar sesión</button>
            </div>
          </div>
          <div class="more-options">
            <p class="psw">
               <a [routerLink]="['/forgot']">¿Has olvidado la contraseña</a>?
            </p>
            <p class="psw">
              ¿No tienes cuenta? <a [routerLink]="['/register']">Ingresa aqui para registarte</a>
            </p>
          </div>
        </form>
      </div>
      <div class="col-lg"></div>
    </div>
  </div>