
<div class="container">
    <nav class="navbar">
        <div class="container-fluid justify-content-end">
          <form class="d-flex ">
            <input class="form-control me-2" type="search" placeholder="Que medicamentos necesitas" aria-label="Search">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
      


      <button (click)="reiniciarCarrito()">Reiniciar carrito</button>

      {{carrito | json}}

      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" *ngFor="let medicamento of listadoProductos | paginate: {itemsPerPage:4 , currentPage: page}">
            <div class="card mb-3"  >
                <img [src]="medicamento.img" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{medicamento.nombre}}</h5>
                  <p class="card-text">Precio: {{medicamento.precio}}</p>
                  <a (click)="agregarProductos(medicamento)" class="btn btn-primary">Agregar</a>
                  <a (click)="eliminarProducto(medicamento)" class="btn btn-danger">Eliminar</a>
                </div>
              </div>
         </div>

     </div>
     <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="page = $event" autoHide="true"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"></pagination-controls>
    </div>
    
  
</div>

