<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ titulo }}</h1>
    </div>
    <div class="col justify-content-end">
      <button type="submit" [routerLink]="['agregar']"  class="btn btn-info btn-sm">Agregar Usuario</button>

    </div>

  </div>

<div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">

  <table class="table table-hover">
    <thead>

      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col"></th>


  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | paginate: {itemsPerPage:5 , currentPage: page}" >
        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.rol}}</td>
        <td>{{usuario.uid}}</td>

        <td>
            
            <button type="button" class="btn btn-danger btn-sm m-1" (click)="deleteUsuario(usuario.uid)"><i class="far fa-trash-alt icon"></i></button>
            <button type="button" [routerLink]="['detalleuser', usuario.uid ]"  class="btn btn-info btn-sm"><i class="fas fa-user-edit icon"></i></button>
        </td>
     



      </tr>
     



    </tbody>
  </table>
</div>   

  
</div>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="page = $event" autoHide="true"
  responsive="true"
  previousLabel="Anterior"
  nextLabel="Siguiente"></pagination-controls>
</div>


