<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ titulo }}</h1>
      <hr />
      <br />
    </div>


  </div>

  <table class="table table-hover">
    <thead>

      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>

  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | paginate: {itemsPerPage: 2, currentPage: page}" >
        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.rol}}</td>
        <td style="width: 20%;" >
            
            <button type="button" class="btn btn-danger btn-sm m-1" (click)="deleteUsuario(usuario.uid)">Eliminar</button>
            <button type="button" class="btn btn-info btn-sm">Detalle</button>
        
        </td>


      </tr>
     



    </tbody>
  </table>
  
</div>
<pagination-controls (pageChange)="page = $event" autoHide="true"
  responsive="true"
  previousLabel="Anterior"
  nextLabel="Siguiente"></pagination-controls>

