* {
  /*color: #0a4e8a;*/
  // color: #084673;
  // color: white;
  color: beige;
}
.custom-bg {
  background-color: #398adb;
}

.dropdown-item,
.fas {
  cursor: pointer;
}

.fa-cog {
  color: #fed73c;
}
ul li a:hover {
  color: #fed73c;
}

.badge.badge-success.notification {
  position: relative;
  top: -12px;
  left: -2px;
  border-radius: 10px;
}

.boton {
  color: #fff;
  font-size: 25px;
}

.link {
  color: #398adb;
}

.link:hover {
  color: #db8a39;
}
