* {
  /*color: #0a4e8a;*/
  // color: #084673;
  // color: white;
  color: beige;
}
.custom-bg {
  background-color: #398adb;
}

.dropdown-item,
.fas {
  cursor: pointer;
}

.badge.badge-success.notification {
  position: relative;
  top: -12px;
  left: -2px;
  border-radius: 10px;
}
.boton {
  background: rgb(1, 1, 228);
}
