<nav id="nav" class="navbar navbar-expand-lg  custom-bg sticky-top">
  <div class="container-fluid">
    
    
    <button class="navbar-toggler boton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      
     <ul class="navbar-nav me-auto  mb-2 mb-lg-0 ">
        <li class="nav-item " >
          <a
            class="nav-link"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            ><i class="fas fa-home fa-cog"></i> Inicio</a
          >
        </li>
        <li class="nav-item" >
          <a
            class="nav-link"
            [routerLink]="['/medicamentos']"
            routerLinkActive="router-link-active">
            <i class="fas fa-plus fa-cog"></i> Medicamentos</a>

        </li> <li class="nav-item" >
          <a
            class="nav-link"
            [routerLink]="['/usuario']"
            routerLinkActive="router-link-active"> 
            <i class="fas fa-user-plus fa-cog"></i> Usuario PREMIUM</a>
            
        </li>

        <li class="nav-item" >
          <a
            class="nav-link"
            [routerLink]="['/blog']"
            routerLinkActive="router-link-active"
            > <i class="fas fa-notes-medical fa-cog"></i> TuFarmaBlog</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
  
        <li  *ngIf="role === 'ADMIN_ROLE'" class="nav-item">
  
          <a 
            class="nav-link"
            [routerLink]="['/admin']"
            routerLinkActive="router-link-active">
            <i class="fas fa-user-shield fa-cog"></i> Admin</a>
  
  
        </li>
        <li *ngIf="!userLabel" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            ><i class="fas fa-house-user fa-cog"></i> Login</a
          >
        </li>
        <li  *ngIf="!userLabel"  class="nav-item" >
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            ><i class="far fa-user-circle fa-cog"></i> Registro</a
          >
        </li>
        
        <li *ngIf="userLabel" class="nav-item dropdown">
          <a 
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown" 
            aria-haspopup="true"
            aria-expanded="false"
          >
          {{ userLabel }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown">
            <a class="dropdown-item link" href="#">Perfil</a>
            <a class="dropdown-item link" [routerLink]="['/orders']" routerLinkActive="router-link-active" >Pedidos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item link" (click)="logout()">Salir de la sesión</a>
        </ul>
        </li>
        <li class="nav-item" *ngIf="userLabel">
          <a
          class="nav-link" [routerLink]="['/orders']"><i class="fas fa-shopping-cart fa-cog"></i>
            <span class="badge badge-success notification ">0</span></a
          >
        </li>
        
  
        
      </ul>
  </div>
 
  </div>
</nav>
