<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 mb-2">
            <div class="card">
                <h5 class="card-header">Mi carrito</h5>
                
                <div class="card-body">
                    <a [routerLink]="['/medicamentos']" class="btn"><i class="fas fa-arrow-left mr-3 icon"></i> Seguir comprando</a>

            
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                        <img class="w-25" src="../assets/imagenes/home/med.jpeg" alt="Producto Seleccionado">
                        </div>
                        <div class="col-md-4 col-sm-12">
                          <p class="card-text">Paracetamol Precio: 25$</p>
                        
                          </div>
                        <div class="col-md-3 col-sm-6">
                          <button type="submit" class="btn btn-light" (click)="sumaProductos(1)"><i class="fas fa-plus icon"></i></button>
                          <span class="badge rounded-pill bg-info text-dark mx-2" > {{getProductosAgregados}} </span>
                          <button type="submit" class="btn btn-light" (click)="restaProductos(1)"><i class="far fa-window-minimize icon"></i></button>
                        </div>
                        <div class="col-md-2 col-sm-6">
                          <p class="card-text">25 $</p>

                      </div>
                    </div>
                 
                </div>
              </div>
        </div>
    
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <h5 class="card-header">Resumen de mi orden</h5>
                <div class="card-body">
                <span>0 Productos</span>
                <hr>
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Total:</h5>

                        </div>
                        <div class="col-3">
                            <span class="card-text">{{total}}</span>

                        </div>
                    </div>
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Comprar carrito</button>
                  </div>
                </div>
              </div>
        </div>
       
    </div>
    
</div>
