<footer>
    <hr>
    <div class="container text-center">
        <address>
            contacto@tufarmaclick.com  
        </address>
        <ul class="social nav justify-content-center">
           
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <!-- <img src="/assets/imagenes/logos/twitter.png" alt="Twitter"> -->
                    <i class="fab fa-facebook-square icon social"></i>
                </a>
            </li>
            <li>
                <a href="https://web.facebook.com/TufarmaClick-107114077750998" target="_blank">
                    <i class="fab fa-twitter social"></i>
                    <!-- <img src="/assets/imagenes/logos/facebook.png" alt="Página de Facebook"> -->
                </a>
            </li>
        </ul>
    </div>
</footer>
