<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <form [formGroup]="miFormulario" (ngSubmit)="actualizarUsuario()">
          <h1> Usuario: {{usuario.nombre}} {{usuario.apellido}}</h1>
          <hr />

<div class="row">


  <div class="col-md-6 col-sm-12">
    <label for="name"><b>Nombre:</b></label>
          <input
            type="text"
            placeholder="Introduzca su nombre"
            formControlName="nombre"
            name="nombre"
            [(ngModel)]="usuario.nombre"
            class="form-control"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('nombre')">
            <div >
              El nombre es requerido.
            </div>
            
          </div>

</div>

<div class="col-md-6 col-sm-12">
  <label for="lastname"><b>Apellido:</b></label>
  <input
    type="text"
    placeholder="Introduzca su apellido"
    name="lastname"
    formControlName="apellido"
    [(ngModel)]="usuario.apellido"
    class="form-control"
    required
  />
  <div class="alert alert-danger" *ngIf="campoNoValido('apellido')">
    <div >
    El apellido es requerido.
    </div>
    
  </div>


</div>
</div>

    <div class="row">
      <div class="col">
        <label for="lastname"><b>Rol:</b></label>
  <input
    type="text"
    placeholder="Ej. USER_ROLE o ADMIN_ROLE"
    name="rol"
    formControlName="rol"
    [(ngModel)]="usuario.rol"
    class="form-control"
  />
  <div class="alert alert-danger" *ngIf="campoNoValido('rol')">
    <div >
    El campo es requerido, indique si es USER_ROLE o ADMIN_ROLE.
    </div>
    
  </div>


        
      </div>
      <div class="col">
        <label for="estado"><b>Estado:</b></label>
        <select class="form-select" id="estado" aria-label="Floating label select example" name="estado"
        formControlName="estado" [value]="usuario.estado" >
          <option value="false" selected>false</option>
          <option value="true" selected>true</option>
        </select> 
  
        
      </div>


    </div>
   
    

          <label for="email"><b>Correo</b></label>
          <input
            type="text"
            placeholder="Introduzca su email"
            name="email"
            [(ngModel)]="usuario.email"
            class="form-control"
            formControlName="email"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('email')">
            <div>
              {{ emailErrorMsg }}
            </div>
       
          </div>
        
          <div class="row">
            <div class="col-lg">
              <button type="submit" class="signup-btn"  [disabled]="miFormulario.invalid">Actualizar</button>
            </div>
          </div>
          {{miFormulario.valid | json}}
          {{miFormulario.value | json }}

        </form>
      </div>

      <div class="col-lg"></div>
    </div>
</div>

