<div class="container">
    <div class="row">
      <div class="col-lg"></div>
      <div class="col-lg-6">
        <form [formGroup]="miFormulario"  (ngSubmit)="registro()">
          <h1>Registro de usuario</h1>
          <p>
            Rellena los datos del formulario para efectuar el registro de tu
            cuenta de usuario.
          </p>
          <hr />
          <label for="name"><b>Nombre</b></label>
          <input
            type="text"
            placeholder="Introduzca su nombre"
            formControlName="nombre"
            class="form-control"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('nombre')">
            <div >
              El nombre es requerido.
            </div>
            
          </div>
          
          <label for="lastname"><b>Apellido</b></label>
          <input
            type="text"
            placeholder="Introduzca su apellido"
            name="lastname"
            formControlName="apellido"
            class="form-control"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('apellido')">
            <div >
            El apellido es requerido.
            </div>
            
          </div>
          
          <label for="email"><b>Correo</b></label>
          <input
            type="text"
            placeholder="Introduzca su email"
            name="email"
            class="form-control"
            formControlName="email"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('email')">
            <div>
              {{ emailErrorMsg }}
            </div>
       
          </div>
  
          <label for="password"><b>Contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            formControlName="password"
            class="form-control"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('password')">
            <div>
              Introduzca una contraseña por favor
            </div>
          </div>
  
          <label for="password"><b>Por favor confirmar contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            formControlName="password2"
            class="form-control"
            required
          />
          <div class="alert alert-danger" *ngIf="campoNoValido('password2')">
            <div>
              Las contraseñas deben ser iguales
            </div>
          </div>
          <p>
            ¿Ya tiene una cuenta?
            <a [routerLink]="['/login']" style="color: dodgerblue;"
              >Iniciar sesión</a
            >.
          </p>
          <div class="row">
            <div class="col-lg">
              <button type="submit" class="signup-btn"  [disabled]="miFormulario.invalid">Registrarse</button>
            </div>
          </div>
        </form>
      </div>
  
      <div class="col-lg"></div>
    </div>
  </div>